{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://kinesisanalytics.amazonaws.com/"
        },
        {
            "url": "http://kinesisanalytics.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Documentation for Kinesis Data Analytics API v2",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Kinesis Analytics",
        "version": "2018-05-23",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisanalyticsv2-2018-05-23.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "kinesisanalyticsv2"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/kinesisanalytics/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds an Amazon CloudWatch log stream to monitor application configuration errors.",
                "operationId": "AddApplicationCloudWatchLoggingOption",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApplicationARN": {
                                            "description": "The application's ARN.",
                                            "maxLength": 2048,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "ApplicationVersionId": {
                                            "description": "The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. ",
                                            "maximum": 999999999,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "CloudWatchLoggingOptionDescriptions": {
                                            "description": "The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.",
                                            "items": {
                                                "description": "Describes the Amazon CloudWatch logging option.",
                                                "properties": {
                                                    "CloudWatchLoggingOptionId": {
                                                        "description": "The ID of the CloudWatch logging option description.",
                                                        "maxLength": 50,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_.-]+",
                                                        "type": "string"
                                                    },
                                                    "LogStreamARN": {
                                                        "description": "The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "RoleARN": {
                                                        "description": "<p>The IAM ARN of the role to use to send application messages. </p> <note> <p>Provided for backward compatibility. Applications created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "LogStreamARN"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApplicationName": {
                                        "description": "The Kinesis Data Analytics application name.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CloudWatchLoggingOption": {
                                        "description": "Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). ",
                                        "properties": {
                                            "LogStreamARN": {
                                                "description": "The ARN of the CloudWatch log to receive application messages.",
                                                "maxLength": 2048,
                                                "minLength": 1,
                                                "pattern": "arn:.*",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "LogStreamARN"
                                        ],
                                        "type": "object"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "CloudWatchLoggingOption"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddApplicationInput": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Adds a streaming source to your SQL-based Amazon Kinesis Data Analytics application. </p> <p>You can add a streaming source when you create an application, or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p>",
                "operationId": "AddApplicationInput",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApplicationARN": {
                                            "description": "The Amazon Resource Name (ARN) of the application.",
                                            "maxLength": 2048,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "ApplicationVersionId": {
                                            "description": "Provides the current application version.",
                                            "maximum": 999999999,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "InputDescriptions": {
                                            "description": "Describes the application input configuration. ",
                                            "items": {
                                                "description": "Describes the application input configuration for an SQL-based Amazon Kinesis Data Analytics application. ",
                                                "properties": {
                                                    "InAppStreamNames": {
                                                        "description": "Returns the in-application stream names that are mapped to the stream source. ",
                                                        "items": {
                                                            "maxLength": 32,
                                                            "minLength": 1,
                                                            "pattern": "[a-zA-Z][a-zA-Z0-9_]+",
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "InputId": {
                                                        "description": "The input ID that is associated with the application input. This is the ID that Kinesis Data Analytics assigns to each input configuration that you add to your application. ",
                                                        "maxLength": 50,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_.-]+",
                                                        "type": "string"
                                                    },
                                                    "InputParallelism": {
                                                        "description": "Describes the configured parallelism (number of in-application streams mapped to the streaming source). ",
                                                        "properties": {
                                                            "Count": {
                                                                "description": "The number of in-application streams to create.",
                                                                "maximum": 64,
                                                                "minimum": 1,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "InputProcessingConfigurationDescription": {
                                                        "description": "The description of the preprocessor that executes on records in this input before the application's code is run. ",
                                                        "properties": {
                                                            "InputLambdaProcessorDescription": {
                                                                "description": "Provides configuration information about the associated <a>InputLambdaProcessorDescription</a> ",
                                                                "properties": {
                                                                    "ResourceARN": {
                                                                        "description": "The ARN of the AWS Lambda function that is used to preprocess the records in the stream.",
                                                                        "maxLength": 2048,
                                                                        "minLength": 1,
                                                                        "pattern": "arn:.*",
                                                                        "type": "string"
                                                                    },
                                                                    "RoleARN": {
                                                                        "description": "<p>The ARN of the IAM role that is used to access the AWS Lambda function.</p> <note> <p>Provided for backward compatibility. Applications that are created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
                                                                        "maxLength": 2048,
                                                                        "minLength": 1,
                                                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "ResourceARN"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "InputSchema": {
                                                        "description": "Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created. ",
                                                        "properties": {
                                                            "RecordColumns": {
                                                                "description": "A list of <code>RecordColumn</code> objects. ",
                                                                "items": {
                                                                    "description": "<p>For an SQL-based Amazon Kinesis Data Analytics application, describes the mapping of each data element in the streaming source to the corresponding column in the in-application stream.</p> <p>Also used to describe the format of the reference data source.</p>",
                                                                    "properties": {
                                                                        "Mapping": {
                                                                            "description": "A reference to the data element in the streaming input of the reference data source.",
                                                                            "type": "string"
                                                                        },
                                                                        "Name": {
                                                                            "description": "The name of the column that is created in the in-application input stream or reference table.",
                                                                            "pattern": "[a-zA-Z_][a-zA-Z0-9_]*",
                                                                            "type": "string"
                                                                        },
                                                                        "SqlType": {
                                                                            "description": "The type of column created in the in-application input stream or reference table.",
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Name",
                                                                        "SqlType"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "maxItems": 1000,
                                                                "minItems": 1,
                                                                "type": "array"
                                                            },
                                                            "RecordEncoding": {
                                                                "description": "Specifies the encoding of the records in the streaming source. For example, UTF-8.",
                                                                "pattern": "UTF-8",
                                                                "type": "string"
                                                            },
                                                            "RecordFormat": {
                                                                "description": "Specifies the format of the records on the streaming source.",
                                                                "properties": {
                                                                    "MappingParameters": {
                                                                        "description": "When you configure application input at the time of creating or updating an application, provides additional mapping information specific to the record format (such as JSON, CSV, or record fields delimited by some delimiter) on the streaming source.",
                                                                        "properties": {
                                                                            "CSVMappingParameters": {
                                                                                "description": "Provides additional mapping information when the record format uses delimiters (for example, CSV).",
                                                                                "properties": {
                                                                                    "RecordColumnDelimiter": {
                                                                                        "description": "The column delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.",
                                                                                        "minLength": 1,
                                                                                        "type": "string"
                                                                                    },
                                                                                    "RecordRowDelimiter": {
                                                                                        "description": "The row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.",
                                                                                        "minLength": 1,
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "RecordRowDelimiter",
                                                                                    "RecordColumnDelimiter"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "JSONMappingParameters": {
                                                                                "description": "Provides additional mapping information when JSON is the record format on the streaming source.",
                                                                                "properties": {
                                                                                    "RecordRowPath": {
                                                                                        "description": "The path to the top-level parent that contains the records.",
                                                                                        "minLength": 1,
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "RecordRowPath"
                                                                                ],
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "RecordFormatType": {
                                                                        "description": "The type of record format.",
                                                                        "enum": [
                                                                            "JSON",
                                                                            "CSV"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "RecordFormatType"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "RecordFormat",
                                                            "RecordColumns"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "InputStartingPositionConfiguration": {
                                                        "description": "The point at which the application is configured to read from the input stream.",
                                                        "properties": {
                                                            "InputStartingPosition": {
                                                                "description": "<p>The starting position on the stream.</p> <ul> <li> <p> <code>NOW</code> - Start reading just after the most recent record in the stream, and start at the request timestamp that the customer issued.</p> </li> <li> <p> <code>TRIM_HORIZON</code> - Start reading at the last untrimmed record in the stream, which is the oldest record available in the stream. This option is not available for an Amazon Kinesis Data Firehose delivery stream.</p> </li> <li> <p> <code>LAST_STOPPED_POINT</code> - Resume reading from where the application last stopped reading.</p> </li> </ul>",
                                                                "enum": [
                                                                    "NOW",
                                                                    "TRIM_HORIZON",
                                                                    "LAST_STOPPED_POINT"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "KinesisFirehoseInputDescription": {
                                                        "description": "If a Kinesis Data Firehose delivery stream is configured as a streaming source, provides the delivery stream's ARN. ",
                                                        "properties": {
                                                            "ResourceARN": {
                                                                "description": "The Amazon Resource Name (ARN) of the delivery stream.",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:.*",
                                                                "type": "string"
                                                            },
                                                            "RoleARN": {
                                                                "description": "<p>The ARN of the IAM role that Kinesis Data Analytics assumes to access the stream.</p> <note> <p>Provided for backward compatibility. Applications that are created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ResourceARN"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "KinesisStreamsInputDescription": {
                                                        "description": "If a Kinesis data stream is configured as a streaming source, provides the Kinesis data stream's Amazon Resource Name (ARN). ",
                                                        "properties": {
                                                            "ResourceARN": {
                                                                "description": "The Amazon Resource Name (ARN) of the Kinesis data stream.",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:.*",
                                                                "type": "string"
                                                            },
                                                            "RoleARN": {
                                                                "description": "<p>The ARN of the IAM role that Kinesis Data Analytics can assume to access the stream.</p> <note> <p>Provided for backward compatibility. Applications that are created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ResourceARN"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "NamePrefix": {
                                                        "description": "The in-application name prefix.",
                                                        "maxLength": 32,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z][a-zA-Z0-9_]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CodeValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApplicationName": {
                                        "description": "The name of your existing application to which you want to add the streaming source.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "The current version of your application. You can use the <a>DescribeApplication</a> operation to find the current application version.",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "Input": {
                                        "description": "The <a>Input</a> to add.",
                                        "properties": {
                                            "InputParallelism": {
                                                "description": "Describes the number of in-application streams to create. ",
                                                "properties": {
                                                    "Count": {
                                                        "description": "The number of in-application streams to create.",
                                                        "maximum": 64,
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "InputProcessingConfiguration": {
                                                "description": "The <a>InputProcessingConfiguration</a> for the input. An input processor transforms records as they are received from the stream, before the application's SQL code executes. Currently, the only input processing configuration available is <a>InputLambdaProcessor</a>. ",
                                                "properties": {
                                                    "InputLambdaProcessor": {
                                                        "description": "The <a>InputLambdaProcessor</a> that is used to preprocess the records in the stream before being processed by your application code.",
                                                        "properties": {
                                                            "ResourceARN": {
                                                                "description": "The ARN of the AWS Lambda function that operates on records in the stream.",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:.*",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ResourceARN"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "InputLambdaProcessor"
                                                ],
                                                "type": "object"
                                            },
                                            "InputSchema": {
                                                "description": "<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created.</p> <p>Also used to describe the format of the reference data source.</p>",
                                                "properties": {
                                                    "RecordColumns": {
                                                        "description": "A list of <code>RecordColumn</code> objects. ",
                                                        "items": {
                                                            "description": "<p>For an SQL-based Amazon Kinesis Data Analytics application, describes the mapping of each data element in the streaming source to the corresponding column in the in-application stream.</p> <p>Also used to describe the format of the reference data source.</p>",
                                                            "properties": {
                                                                "Mapping": {
                                                                    "description": "A reference to the data element in the streaming input of the reference data source.",
                                                                    "type": "string"
                                                                },
                                                                "Name": {
                                                                    "description": "The name of the column that is created in the in-application input stream or reference table.",
                                                                    "pattern": "[a-zA-Z_][a-zA-Z0-9_]*",
                                                                    "type": "string"
                                                                },
                                                                "SqlType": {
                                                                    "description": "The type of column created in the in-application input stream or reference table.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Name",
                                                                "SqlType"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 1000,
                                                        "minItems": 1,
                                                        "type": "array"
                                                    },
                                                    "RecordEncoding": {
                                                        "description": "Specifies the encoding of the records in the streaming source. For example, UTF-8.",
                                                        "pattern": "UTF-8",
                                                        "type": "string"
                                                    },
                                                    "RecordFormat": {
                                                        "description": "Specifies the format of the records on the streaming source.",
                                                        "properties": {
                                                            "MappingParameters": {
                                                                "description": "When you configure application input at the time of creating or updating an application, provides additional mapping information specific to the record format (such as JSON, CSV, or record fields delimited by some delimiter) on the streaming source.",
                                                                "properties": {
                                                                    "CSVMappingParameters": {
                                                                        "description": "Provides additional mapping information when the record format uses delimiters (for example, CSV).",
                                                                        "properties": {
                                                                            "RecordColumnDelimiter": {
                                                                                "description": "The column delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            },
                                                                            "RecordRowDelimiter": {
                                                                                "description": "The row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "RecordRowDelimiter",
                                                                            "RecordColumnDelimiter"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "JSONMappingParameters": {
                                                                        "description": "Provides additional mapping information when JSON is the record format on the streaming source.",
                                                                        "properties": {
                                                                            "RecordRowPath": {
                                                                                "description": "The path to the top-level parent that contains the records.",
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "RecordRowPath"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "RecordFormatType": {
                                                                "description": "The type of record format.",
                                                                "enum": [
                                                                    "JSON",
                                                                    "CSV"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "RecordFormatType"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "RecordFormat",
                                                    "RecordColumns"
                                                ],
                                                "type": "object"
                                            },
                                            "KinesisFirehoseInput": {
                                                "description": "If the streaming source is an Amazon Kinesis Data Firehose delivery stream, identifies the delivery stream's ARN.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "The Amazon Resource Name (ARN) of the delivery stream.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN"
                                                ],
                                                "type": "object"
                                            },
                                            "KinesisStreamsInput": {
                                                "description": "If the streaming source is an Amazon Kinesis data stream, identifies the stream's Amazon Resource Name (ARN). ",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "The ARN of the input Kinesis data stream to read.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN"
                                                ],
                                                "type": "object"
                                            },
                                            "NamePrefix": {
                                                "description": "The name prefix to use when creating an in-application stream. Suppose that you specify a prefix \"<code>MyInApplicationStream</code>.\" Kinesis Data Analytics then creates one or more (as per the <code>InputParallelism</code> count you specified) in-application streams with the names \"<code>MyInApplicationStream_001</code>,\" \"<code>MyInApplicationStream_002</code>,\" and so on. ",
                                                "maxLength": 32,
                                                "minLength": 1,
                                                "pattern": "[a-zA-Z][a-zA-Z0-9_]+",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "NamePrefix",
                                            "InputSchema"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "Input"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddApplicationInputProcessingConfiguration": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds an <a>InputProcessingConfiguration</a> to an SQL-based Kinesis Data Analytics application. An input processor pre-processes records on the input stream before the application's SQL code executes. Currently, the only input processor available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.",
                "operationId": "AddApplicationInputProcessingConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApplicationARN": {
                                            "description": "The Amazon Resource Name (ARN) of the application.",
                                            "maxLength": 2048,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "ApplicationVersionId": {
                                            "description": "Provides the current application version.",
                                            "maximum": 999999999,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "InputId": {
                                            "description": "The input ID that is associated with the application input. This is the ID that Amazon Kinesis Data Analytics assigns to each input configuration that you add to your application.",
                                            "maxLength": 50,
                                            "minLength": 1,
                                            "pattern": "[a-zA-Z0-9_.-]+",
                                            "type": "string"
                                        },
                                        "InputProcessingConfigurationDescription": {
                                            "description": "The description of the preprocessor that executes on records in this input before the application's code is run.",
                                            "properties": {
                                                "InputLambdaProcessorDescription": {
                                                    "description": "Provides configuration information about the associated <a>InputLambdaProcessorDescription</a> ",
                                                    "properties": {
                                                        "ResourceARN": {
                                                            "description": "The ARN of the AWS Lambda function that is used to preprocess the records in the stream.",
                                                            "maxLength": 2048,
                                                            "minLength": 1,
                                                            "pattern": "arn:.*",
                                                            "type": "string"
                                                        },
                                                        "RoleARN": {
                                                            "description": "<p>The ARN of the IAM role that is used to access the AWS Lambda function.</p> <note> <p>Provided for backward compatibility. Applications that are created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
                                                            "maxLength": 2048,
                                                            "minLength": 1,
                                                            "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "ResourceARN"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApplicationName": {
                                        "description": "The name of the application to which you want to add the input processing configuration.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "The version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "InputId": {
                                        "description": "The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.",
                                        "maxLength": 50,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "InputProcessingConfiguration": {
                                        "description": "The <a>InputProcessingConfiguration</a> to add to the application.",
                                        "properties": {
                                            "InputLambdaProcessor": {
                                                "description": "The <a>InputLambdaProcessor</a> that is used to preprocess the records in the stream before being processed by your application code.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "The ARN of the AWS Lambda function that operates on records in the stream.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN"
                                                ],
                                                "type": "object"
                                            }
                                        },
                                        "required": [
                                            "InputLambdaProcessor"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "InputId",
                                    "InputProcessingConfiguration"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddApplicationOutput": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds an external destination to your SQL-based Amazon Kinesis Data Analytics application.</p> <p>If you want Kinesis Data Analytics to deliver data from an in-application stream within your application to an external destination (such as an Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
                "operationId": "AddApplicationOutput",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApplicationARN": {
                                            "description": "The application Amazon Resource Name (ARN).",
                                            "maxLength": 2048,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "ApplicationVersionId": {
                                            "description": "The updated application version ID. Kinesis Data Analytics increments this ID when the application is updated.",
                                            "maximum": 999999999,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "OutputDescriptions": {
                                            "description": "Describes the application output configuration. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring Application Output</a>. ",
                                            "items": {
                                                "description": "For an SQL-based Amazon Kinesis Data Analytics application, describes the application output configuration, which includes the in-application stream name and the destination where the stream data is written. The destination can be a Kinesis data stream or a Kinesis Data Firehose delivery stream. ",
                                                "properties": {
                                                    "DestinationSchema": {
                                                        "description": "The data format used for writing data to the destination.",
                                                        "properties": {
                                                            "RecordFormatType": {
                                                                "description": "Specifies the format of the records on the output stream.",
                                                                "enum": [
                                                                    "JSON",
                                                                    "CSV"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "RecordFormatType"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "KinesisFirehoseOutputDescription": {
                                                        "description": "Describes the Kinesis Data Firehose delivery stream that is configured as the destination where output is written.",
                                                        "properties": {
                                                            "ResourceARN": {
                                                                "description": "The Amazon Resource Name (ARN) of the delivery stream.",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:.*",
                                                                "type": "string"
                                                            },
                                                            "RoleARN": {
                                                                "description": "<p>The ARN of the IAM role that Kinesis Data Analytics can assume to access the stream.</p> <note> <p>Provided for backward compatibility. Applications that are created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ResourceARN"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "KinesisStreamsOutputDescription": {
                                                        "description": "Describes the Kinesis data stream that is configured as the destination where output is written.",
                                                        "properties": {
                                                            "ResourceARN": {
                                                                "description": "The Amazon Resource Name (ARN) of the Kinesis data stream.",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:.*",
                                                                "type": "string"
                                                            },
                                                            "RoleARN": {
                                                                "description": "<p>The ARN of the IAM role that Kinesis Data Analytics can assume to access the stream.</p> <note> <p>Provided for backward compatibility. Applications that are created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ResourceARN"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "LambdaOutputDescription": {
                                                        "description": "Describes the Lambda function that is configured as the destination where output is written.",
                                                        "properties": {
                                                            "ResourceARN": {
                                                                "description": "The Amazon Resource Name (ARN) of the destination Lambda function.",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:.*",
                                                                "type": "string"
                                                            },
                                                            "RoleARN": {
                                                                "description": "<p>The ARN of the IAM role that Kinesis Data Analytics can assume to write to the destination function.</p> <note> <p>Provided for backward compatibility. Applications that are created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ResourceARN"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "Name": {
                                                        "description": "The name of the in-application stream that is configured as output.",
                                                        "maxLength": 32,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z][a-zA-Z0-9_]+",
                                                        "type": "string"
                                                    },
                                                    "OutputId": {
                                                        "description": "A unique identifier for the output configuration.",
                                                        "maxLength": 50,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_.-]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidArgumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApplicationName": {
                                        "description": "The name of the application to which you want to add the output configuration.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.-]+",
                                        "type": "string"
                                    },
                                    "CurrentApplicationVersionId": {
                                        "description": "The version of the application to which you want to add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. ",
                                        "maximum": 999999999,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "Output": {
                                        "description": "An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, a Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), and record the formation to use when writing to the destination.",
                                        "properties": {
                                            "DestinationSchema": {
                                                "description": "Describes the data format when records are written to the destination. ",
                                                "properties": {
                                                    "RecordFormatType": {
                                                        "description": "Specifies the format of the records on the output stream.",
                                                        "enum": [
                                                            "JSON",
                                                            "CSV"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "RecordFormatType"
                                                ],
                                                "type": "object"
                                            },
                                            "KinesisFirehoseOutput": {
                                                "description": "Identifies an Amazon Kinesis Data Firehose delivery stream as the destination.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "The ARN of the destination delivery stream to write to.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN"
                                                ],
                                                "type": "object"
                                            },
                                            "KinesisStreamsOutput": {
                                                "description": "Identifies an Amazon Kinesis data stream as the destination.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "The ARN of the destination Kinesis data stream to write to.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN"
                                                ],
                                                "type": "object"
                                            },
                                            "LambdaOutput": {
                                                "description": "Identifies an AWS Lambda function as the destination.",
                                                "properties": {
                                                    "ResourceARN": {
                                                        "description": "The Amazon Resource Name (ARN) of the destination Lambda function to write to.",
                                                        "maxLength": 2048,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ResourceARN"
                                                ],
                                                "type": "object"
                                            },
                                            "Name": {
                                                "description": "The name of the in-application stream.",
                                                "maxLength": 32,
                                                "minLength": 1,
                                                "pattern": "[a-zA-Z][a-zA-Z0-9_]+",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Name",
                                            "DestinationSchema"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ApplicationName",
                                    "CurrentApplicationVersionId",
                                    "Output"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddApplicationReferenceDataSource": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
[...]
